.Loading-h20item {
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding: 48px 0px 0px 0px; 
  }
.Loading-0item {
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: gray;
  }